@charset "utf-8";

/*config gerais */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw; /*largura*/
    height: 100vh; /*altura*/
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    /* 
    VW (Viewport width) e 
    VH (Viewport height) 
    são unidades de medida em CSS que se referem à largura e altura da janela de visualização (viewport) do navegador, respectivamente, sendo 1vw igual a 1% da largura da viewport e 1vh igual a 1% da altura da viewport, ideais para layouts responsivos que se adaptam a diferentes tamanhos de tela 
    */
}

h1{
    color: white;
    text-shadow: 2px 2px 0px #1f35d6;
    padding: 10px;
}